.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-header {
  margin-top: 75px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  width: 600px;
  min-height: 400px;
  border-radius: 10px;
  border-width: 5px;
  padding: 20px;
}

.exercise-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 4px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-button {
  margin: 5px;
  padding: 10px 20px;
  min-width: 125px;
  min-height: 30px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

.option-button.option-button.correct {
  background-color: #28a745;
}

.option-button.option-button.wrong {
  background-color: #dc3545;
}

.message-completed {
  margin-top: 15%;
}

.navigate-button {
  margin: 20px 0 20px 0;
  cursor: pointer;
  background-color: #89e219;
  border: none;
  border-radius: 4rem;
  font-size: 16px;
  min-width: 100px;
  min-height: 40px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .exercise-container {
    max-width: 80%;
  }

  .option-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 425px) {
  .exercise-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .option-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
