.exercise-container {
    min-height: 350px;
    max-width: 100%;
}

.sentence {
    margin: 70px 0 20px;
    font-size: 24px;
}

.answer-container {
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.answer-container input {
    width: 60%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

.answer-container button {
    cursor: pointer;
    background-color: #89e219;
    border: none;
    border-radius: 4rem;
    font-size: 16px;
    min-width: 100px;
    min-height: 40px;
    padding: 10px;
}

.answer-container button:hover {
    background-color: #98f02d;
}

@media only screen and (max-width: 768px) {
    .sentence {
        background-color: #89e219;
    }

    .answer-container input {
        width: 75%;
    }
}

@media only screen and (max-width: 500px) {
    .exercise-container {
        min-height: 300px;
    }

    h2 {
        font-size: 20px;
    }

    .answer-container input {
        width: 95%;
    }
}
